{% macro input(id, name, label, value, error, type, placeholder, disabled, readonly, class) %}
<div class="form-group{% if class %} {{ class }}{% endif %}">
    {% if label %}
    <label for="{{ id }}">{{ label }}</label>
    {% endif %}
    <input class="form-control{% if error %} is-invalid{% endif %}" id="{{ id }}" placeholder="{{ placeholder|default(label) }}" type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}"{% if disabled|default(false) %} disabled{% endif %}{% if readonly|default(false) %} readonly{% endif %}>
    <div class="invalid-feedback">{{ error|default('&nbsp;')|raw }}</div>
</div>
{% endmacro %}

{% macro select(id, name, label, selectOptions, value, error, class) %}
<div class="form-group{% if class %} {{ class }}{% endif %}">
    {% if label %}
    <label for="{{ id }}">{{ label }}</label>
    {% endif %}
    <select class="form-control{% if error %} is-invalid{% endif %}" id="{{ id }}" name="{{ name }}">
        {% for optionValue, optionLabel in selectOptions %}
        <option value="{{ optionValue }}"{% if value == optionValue %} selected{% endif %}>{{ optionLabel }}</option>
        {% endfor %}
    </select>
    <div class="invalid-feedback">{{ error|default('&nbsp;')|raw }}</div>
</div>
{% endmacro %}

{% macro selectWithGroups(id, name, label, selectGroupOptions, value, error, class) %}
    <div class="form-group{% if class %} {{ class }}{% endif %}">
        {% if label %}
        <label for="{{ id }}">{{ label }}</label>
        {% endif %}
        <select class="form-control{% if error %} is-invalid{% endif %}" id="{{ id }}" name="{{ name }}">
            {% for groupLabel, groupOptions in selectGroupOptions %}
            <optgroup label="{{ groupLabel }}">
                {% for optionValue, optionLabel in groupOptions %}
                <option value="{{ optionValue }}"{% if value == optionValue %} selected{% endif %}>{{ optionLabel }}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
        <div class="invalid-feedback">{{ error|default('&nbsp;')|raw }}</div>
    </div>
{% endmacro %}

{% macro textarea(id, name, label, value, error, placeholder, rows, class) %}
    <div class="form-group{% if class %} {{ class }}{% endif %}">
        {% if label %}
        <label for="{{ id }}">{{ label }}</label>
        {% endif %}
        <textarea rows="{{ rows|default('3') }}" class="form-control{% if error %} is-invalid{% endif %}" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder|default(label) }}">{{ value }}</textarea>
        <div class="invalid-feedback">{{ error|default('&nbsp;')|raw }}</div>
    </div>
{% endmacro %}

{% macro checkbox(id, name, label, value, error, clas) %}
    <div class="form-group{% if class %} {{ class }}{% endif %}">
        <div class="checkbox">
            <label class="checkbox" for="{{ id }}">
                <input type="checkbox" class="{% if error %} is-invalid{% endif %}" id="{{ id }}" name="{{ name }}" value="1"{% if value == 1 %} checked{% endif %}>
                {{ label }}
            </label>
        </div>
        <div class="invalid-feedback">{{ error|default('&nbsp;')|raw }}</div>
    </div>
{% endmacro %}
