{% macro normal(pricing, button) %}
    <div class="card pricing text-center">
        <h2>{{ pricing.getName() }}</h2>
        <span>{{ pricing.getSession() }}</span>
        <div class="card-header text-center">
            <span class="price">{{ pricing.getPrice() }}</span><span class="currency">{{ pricing.getTag() }}</span>
        </div>
        <div class="card-body">
            <p class="list-group">
            {{ pricing.getDescription() }}
            </p>

            {% if pricing.hasLink() %}
                <a class="btn btn-secondary-outlined btn-default" href="{{ path('web_contact') }}?subject={{ pricing.getContactSubject() }}">{{ button|default('Prendre rendez-vous') }}</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro image(pricing, button) %}
    <div class="card pricing_image-card delux">
        <div class="card_img">
            <img class="card-img img-full" src="{{ image(pricing.getImage()) }}" alt="Card image">
            <div class="overlay text-center">
                <h2>{{ pricing.getName() }}</h2>
                <span>{{ pricing.getSession() }}</span>
            </div>
        </div>
        <div class="card-body text-center">
            <div class="circle"><span class="price">{{ pricing.getPrice()|raw }}</span> <span class="tag">{{ pricing.getTag() }}</span> </div>
            <p class="list-group">
                {{ pricing.getDescription()|raw }}
            </p>
            {% if pricing.hasLink() %}
            <a class="btn btn-secondary-outlined btn-default" href="{{ path('web_contact') }}">{{ button|default('Prendre rendez-vous') }}</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro large(pricing, button) %}
    <div class="card pricing style2">
        <div class="card-body">
            <div class="circle">
                <span class="price">{{ pricing.getPrice() }}</span>
                <span class="tag">{{ pricing.getTag() }}</span>
            </div>
            <h2>{{ pricing.getName() }}</h2>
            <p>
                {{ pricing.getDescription() }}
            </p>
            {% if pricing.hasLink() %}
                <a class="btn btn-secondary-outlined btn-default" href="{{ path('web_contact') }}?">{{ button|default('Prendre rendez-vous') }}</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}
