<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <!-- Required Meta Tags -->
    <meta charset="{{ meta.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Document Title, Description, and Author -->
    <title>{% block page_title %}{{ meta.title }}{% endblock %}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="author" content="{{ meta.copyright.name }}">

    <!-- Favicon and Touch Icons -->
    <link rel="icon" type="image/png" sizes="512x512" href="{{ image('favicon-512x512.png') }}">

    <!-- Share info -->
    <meta property="og:url" content="{{ currentUrl }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og_title %}{{ meta.title }}{% endblock %}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:image" content="{{ baseUrlImage }}{{ image('logo-share.png') }}" />

    <!-- CSS Files -->
    {% for file in cssFiles.app %}
        <link rel="stylesheet" href="{{ file }}">
    {% endfor %}

    <meta name="theme-color" content="#712cf9">
</head>

<body>

    {% block page %}{% endblock %}

    {% for file in jsFiles.app %}
        <script src="{{ file }}"></script>
    {% endfor %}
    {% block footer_script %}{% endblock %}

</body>
</html>
